name: Update README

on:
  workflow_dispatch:


jobs:
  build:
    permissions: 
      contents: write

    runs-on: ubuntu-latest
    steps:
      - id: get-flickr-image
        name: Get latest Flickr image from album
        run: |
            
            LATEST_IMAGE_INFO=$(curl -s "https://www.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=${{ secrets.FLICKR_API_KEY }}&photoset_id=72157716222153076&format=json&per_page=1&nojsoncallback=1" | jq -r '.photoset.photo[-1]')
            echo LATEST_IMAGE_URL=$(echo $LATEST_IMAGE_INFO | jq -r '"https://live.staticflickr.com/" + .server + "/" + .id + "_" + .secret + "_b.jpg"') >> $GITHUB_ENV
            echo "LATEST_IMAGE_TITLE=$(echo $LATEST_IMAGE_INFO | jq -r '.title')" >> $GITHUB_ENV
            echo "LATEST_IMAGE_ID=$(echo $LATEST_IMAGE_INFO | jq -r '.id')" >> $GITHUB_ENV

      - name: Overwrite README with latest image
        run: |
            echo "<a href=\"https://www.flickr.com/photos/mendhak/${{ env.LATEST_IMAGE_ID }}\"><img src=\"${{ env.LATEST_IMAGE_URL }}\" alt=\"${{ env.LATEST_IMAGE_TITLE }}\" /></a>" > README.md
            cat README.md


